@import '../../../styles/utils/mixins';

.modalContainer {
  position: absolute;
  width: 282px;
  height: 163px;
  top: 164px;
  left: 6%;
  z-index: 1;
  @include from(tablet) {
    top: 85px;
    left: 190px;
    height: 163px;
    width: 292px;
  }
  @include from(desktop) {
    top: 85px;
    left: 430px;
  }
}

.contentContainer {
  position: absolute;
  bottom: 0;
  height: 152px;
  padding: 30px;
  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  border-radius: 30px;
  z-index: 999;
}

.content {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #ffffff;
  &:first-child {
    margin-bottom: 20px;
  }
}

.triangle {
  position: absolute;
  top: 0;
  left: 14%;

  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 16px solid #182e60;
  @include to(tablet) {
    left: 22%;
  }
}
.closeButton {
  position: absolute;
  top: 11%;
  right: 7%;

  height: 15px;
  width: 15px;
  stroke: #fff;

  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear;

  &:hover {
    transform: scale(1.2);
    transition: transform 250ms linear;
  }
}
