@import '../../styles/utils/variables';

* {
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hero__container{
    height: 286px;
    overflow: hidden;
    padding-top: 86px;
    padding-left: 49px;
    background-color: $background-grey;
    border-radius: 0 0 0 120px;
    background-image: url(./icons/Vector2.png);
    background-repeat: no-repeat;
    background-position: right 0px top 104px;
}
.hero__login{
    background-image: none;
}

.hero__tablet{
    position: relative;
    display: none;
    z-index: 2;
}

.hero__desktop{
    display: none;
}

.description{
    position: relative;
    margin-left: 11px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    z-index: 1;
}

.footer{
    min-height: 225px;
    background-image: url(./icons/Vector.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left 35px;
}

.footer__login{
    background-image: none;
}

.img__desktop{
    display: none;
}

@media screen and (min-width: 768px){
    .hero__container{
        height: 526px;
        padding-top: 90px;
        padding-left: 171px;
        background-image: url(./icons/Group.png);
        background-repeat: repeat-x;
        background-position: 0 28px;
    }

    .hero__login{
        background-image: none;
    }

    .description {
        margin-left: 53px;
        font-size: 16px;
    }

    .footer{
        min-height: 442px;
        background-image: url(./icons/Group2.png);
        background-repeat: no-repeat;
        background-position: left 103px bottom 56px;
    }

    .footer__login{
        background-position: right 88px bottom 64px;
    }

    .hero{
        display: none;

    }

    .hero__tablet{
        display: block;
    }
}

@media screen and ( min-width: 1280px){
    .hero__container{
        height: 526px;
        padding-top: 308px;
        padding-left: 230px;
    }

    .footer {
        min-height: 268px;
        background-position: left 230px bottom 50px;
    }

    .footer__login {
        background-image: url(./icons/GroupFooter.png);
        background-position: left 0px bottom 0px;
        background-repeat: repeat-x;
    }



    .hero__tablet{
        display: none;
    }

    .hero__desktop{
        position: relative;
        display: block;
        z-index: 1;
    }

}