@import '../../styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.date__mobile_container {
  @include to(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
  }
}

.data__container {
  @include from(desktop) {
    display: flex;
    justify-content: space-between;
  }
}
