@import '../../styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.date__mobile_container {
  @include to(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 52px 0;
  }
}

// .inputs__date__thumb {
//   justify-content: space-between;
//   margin-bottom: 30px;

//   @include from(tablet) {
//     display: flex;
//   }

//   @media (min-width: 1280px) {
//     justify-content: start;
//     margin-bottom: 0;
//   }
// }
