@import '../../../styles/main.scss';

.SummaryWidget {
  width: 230px;

  @include from-to(tablet, desktop) {
    margin: 40px 0 0 81px;
    padding-bottom: 57px;
  }

  @include to(tablet) {
    display: none;
  }
}

.SummaryTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;

  background-color: $background-grey;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.MonthList {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;

  height: 238px;
  overflow-y: auto;

  border-bottom-left-radius: 20px;
}

.MonthList::-webkit-scrollbar {
  width: 6px;
}

.MonthList::-webkit-scrollbar-track {
  background-color: $background-grey;
  border-radius: 100px;
}

.MonthList::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-clip: content-box;
  background-color: $background-orange;
}

.MonthItem {
  padding-left: 22px;
  padding-right: 20px;
  background-color: $background-grey;
  color: $button-text;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  &:last-child {
    border-bottom-left-radius: 20px;
  }
}
