@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 55px 60px 55px;

  width: 380px;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  background-color: $white;
  @include to(tablet) {
    width: 282px;
    padding: 50px 20px;
  }
}
.massage {
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.02em;
  color: $text-grey;

  @include to(tablet) {
    width: 200px;
    margin: 0 auto;
  }
}
.buttonContainer {
  margin-top: 20px;

  @include to(tablet) {
    display: flex;
  }
}
.button {
  width: 125px;
  height: 44px;

  border-radius: 16px;
  border: 2px solid #f5f6fb;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $text-grey;
  &:first-child {
    margin-right: 20px;
    @include to(tablet) {
      margin-right: 6px;
    }
  }
  &:hover {
    background-color: $background-orange;
    border-color: $background-orange;
    cursor: pointer;
    color: $white;
  }
}
.closeButton {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 20px;
  stroke: #52555f;

  padding: 3px;
  cursor: pointer;
}
