@import '../../../styles/main.scss';
@import '../../../styles/utils/mixins.scss';

.CurrentPeriodWidget {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  @include to(tablet) {
    margin-top: 20px;
  }
}
.CurrentMonthSwitcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 158px;
}
.PeriodTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.34;
  color: $button-text;

  margin-top: 0;
  margin-bottom: 5px;
}

.CurrentPeriod {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  color: $black;
  cursor: pointer;

  margin: 0;
}

.MonthSwitcher {
  margin: 0;
  padding: 0;
  height: inherit;
  width: auto;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;

  &:first-child {
    padding-right: 15px;
  }

  &:last-child {
    padding-left: 15px;
  }
}
.ArrowIcon {
  transition: transitionFunc(transform);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
