<<<<<<< HEAD
.expenses {
  display: block;
  width: 100%;
  max-width: 282px;
  margin: 0 auto 70px;
  @media screen and (min-width: 768px) {
    max-width: 613px;
  }

  .expenses__list {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .expenses__card {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-height: 122px;
      width: calc((100%-30px) / 3);
      margin: 20px auto 40px;

      @media screen and (min-width: 768px) {
        width: calc(100% / 6);
      }

      &:nth-child(3n) {
        &::after {
          content: '';
          position: absolute;
          top: 157px;
          right: -6px;
          background-color: #e0e5eb;
          width: 282px;
          height: 1px;
        }
        @media screen and (min-width: 768px) {
          &::after {
            display: none;
          }
        }
      }
      .expenses__amount {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #52555f;
      }
      .expenses__name {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #52555f;
      }

      .expenses__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        margin: 0;
        background-image: url(../../img/expenses-income-img/icon-background-grey.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
          fill: #ff751d;
          cursor: pointer;
          background-image: url(../../img/expenses-income-img/icon-background-tomato.svg);
        }
        .expenses__icon {
          display: block;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
  .expenses__empty {
    display: block;
    position: relative;
    width: 0;
    height: 0;
    &::after {
      content: '';
      position: absolute;
      top: -6px;
      left: 4px;
      background-color: #e0e5eb;
      width: 282px;
      height: 0.5px;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
}
||||||| parent of 55e25ef ([Expenses] Add HTML/SCSS with problems)
=======
.expenses {
  display: block;
  width: 100%;
  max-width: 282px;
  margin: 0 auto 70px;
  @media screen and (min-width: 768px) {
    max-width: 613px;
  }

  .expenses__list {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .expenses__card {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      max-height: 122px;
      width: calc((100%-30px) / 3);
      margin: 20px auto 40px;

      @media screen and (min-width: 768px) {
        width: calc(100% / 6);
      }

      &:nth-child(3n) {
        &::after {
          content: '';
          position: absolute;
          top: 157px;
          right: -6px;
          background-color: #e0e5eb;
          width: 282px;
          height: 1px;
        }
        @media screen and (min-width: 768px) {
          &::after {
            display: none;
          }
        }
      }
      .expenses__amount {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #52555f;
      }
      .expenses__name {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #52555f;
      }

      .expenses__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        margin: 0;
        background-image: url(../../img/expenses-income-img/icon-background-grey.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
          fill: #ff751d;
          cursor: pointer;
          background-image: url(../../img/expenses-income-img/icon-background-tomato.svg);
        }
        .expenses__icon {
          display: block;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
  .expenses__empty {
    display: block;
    position: relative;
    width: 0;
    height: 0;
    &::after {
      content: '';
      position: absolute;
      top: -6px;
      left: 4px;
      background-color: #e0e5eb;
      width: 282px;
      height: 0.5px;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }
}
>>>>>>> 55e25ef ([Expenses] Add HTML/SCSS with problems)
