.income {
  display: block;
  width: 100%;
  max-width: 188px;
  height: 107px;
  margin: 0 auto 70px;

  .income__list {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    .income__card {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-width: 84px;
      margin: 0 auto;

      .income__amount {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #52555f;
      }
      .income__name {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #52555f;
      }

      .income__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0;
        background-image: url(../../img/expenses-income-img/icon-background-grey.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
          fill: #ff751d;
          cursor: pointer;
          background-image: url(../../img/expenses-income-img/icon-background-tomato.svg);
        }
        .income__icon {
          display: block;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}
