@import '../../../styles/utils/variables';
@import '../../../styles/utils/_mixins.scss';

.list {
  padding: 0 19px 53px 19px;
}

.item {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px 0;
  border-bottom: 1px solid $background-grey;
}

.date__thumb {
  display: flex;
}

.sum__thumb {
  display: flex;
  align-items: center;
}

.expense__thumb {
  width: 60%;
}

.name {
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.04em;

  color: $text-grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date,
.category {
  display: inline-block;

  font-size: 8px;
  line-height: 1.125;
  letter-spacing: 0.04em;

  color: $text-grey;
}

.date {
  margin-right: 20px;
}

.sumNegative {
  margin-right: 21px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.04em;
  text-align: right;

  color: $red;
}

.sumPositive {
  margin-right: 21px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.04em;
  text-align: right;

  color: $green;
}

.icon__thumb {
  position: relative;

  &:hover::before,
  &:focus::before {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $background-grey;
    z-index: -1;
  }
}

.icon__delete:hover,
.icon__delete:focus {
  & > g,
  & > g {
    fill: $red;
  }
}

.disabled-delete {
  pointer-events: none;
}
