@import './utils/mixins';

.loggedInBg {
  background-repeat: no-repeat;

  @include to(tablet) {
    height: 100vh;
  }

  @include from-to(tablet, desktop) {
    min-height: 100vh;

    background-image: url('../images/desktop/kapusta-down-desktop.svg');
    background-position: right 88px top 1033px;
  }

  @include from(desktop) {
    min-height: 100vh;

    background-image: url('../images/desktop/kapusta-top-desktop.svg');

    background-repeat: repeat-x;
    background-position: bottom -38px left 0;
    padding-bottom: 75px;
  }
}

.loggedOutBg {
  background-repeat: no-repeat;

  @include to(tablet) {
    min-height: 900px;

    background-image: url('../images/mobile/kapusta-down-mobile.svg');
    background-position: left 35px top 800px;
  }

  @include from(tablet) {
    min-height: 1050px;

    background-image: url('../images/desktop/kapusta-down-desktop.svg');
    background-position: 103px 870px;
  }

  @include from(desktop) {
    min-height: 900px;

    background-position: 230px 658px;
  }
}

.container {
  @include from(tablet) {
    width: 768px;
    margin: 0 auto;
  }
}
