.turnover {
  position: relative;
  display: block;
  width: 100%;
  max-width: 282px;
  height: 85px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 20px;
  margin: 0 auto 40px;
  outline: 1px solid red;
  @media screen and (min-width: 768px) {
    max-width: 668px;
    height: 50px;
    border-radius: 30px;
    margin: 0 auto 30px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1060px;
  }

  .turnover__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 25px;
    @media screen and (min-width: 768px) {
      padding: 15px 0;
    }

    .turnover__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #52555f;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      @media screen and (min-width: 768px) {
        display: inline-block;
      }

      &:first-child {
        &::after {
          position: absolute;
          top: 5px;
          left: 52%;
          width: 1px;
          height: 70px;
          margin-right: 40px;
          content: '';
          background-image: url('../../img/turnover-separator.png');
          @media screen and (min-width: 768px) {
            top: 7px;
            left: 50%;
            height: 36px;
          }
        }
        @media screen and (min-width: 768px) {
          margin-right: 40px;
        }
      }
      .turnover__value {
        display: inline-block;
        letter-spacing: 0.04em;
        margin-top: 2px;
        margin-left: 15px;
        @media screen and (min-width: 768px) {
          margin-top: 0;
          margin-left: 0;
          padding-left: 15px;
        }
      }
      .expense_color {
        color: #e53935;
      }
      .income_color {
        color: #407946;
      }
    }
  }
}
