@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';

.sliderContainer {
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  margin-top: 40px;

  @include from(tablet) {
    width: 666px;

    margin-top: 30px;
    padding-top: 25px;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;

    background: $white;
  }

  @include from(desktop) {
    width: 1060px;
  }
}

.slider {
  position: relative;
  padding: 0px 20px;
  width: 134px;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
}
.slick-prev,
.slick-next {
  width: 6px;
  height: 12px;
  border: none;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-next {
  right: 0;
  background-image: url('../../../images/next.svg');
}

.slick-prev {
  left: 0;
  background-image: url('../../../images/previous.svg');
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  min-width: 0;
  align-items: flex-start;
}

.slider__item {
  text-align: center;
  .slider__text {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
  }
}

.slider__big {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.sliderContainerBottom {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include from(tablet) {
    width: 666px;

    margin-top: 30px;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;

    background: $white;
  }

  @include from(desktop) {
    width: 1060px;
  }
}
