@import '../../../styles/utils/variables';
@import '../../../styles/utils/_mixins.scss';

.date__mobile_container {
  @include to(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 85px auto;

    width: 320px;
    padding: 0 35px;
  }
  &_adjustment {
    margin: 0 auto 129px auto;
  }
}

.data__container {
  @include from(desktop) {
    display: flex;
    justify-content: space-between;
  }
  &_adjustment {
    justify-content: center;
  }
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  border: none;
  color: $black;
  background-color: $border-white;
  cursor: pointer;

  @include to(tablet) {
    width: 50%;
    height: 53px;

    &:first-of-type {
      border-right: 2px solid $white;
    }
  }

  @include from(tablet) {
    width: 138px;
    height: 40px;

    background-color: $border-white;
    border-radius: 20px 20px 0 0;
  }

  &__active {
    @include to(tablet) {
      color: $white;
      background: $background-orange;
    }

    @include from(tablet) {
      color: $background-orange;
      background: $background-white;
    }
  }

  &__container {
    @include to(tablet) {
      display: flex;
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }

    @include from(tablet) {
      display: flex;
      max-width: 1060px;
      margin: 0 auto;
      width: 665px;
    }

    @include from(desktop) {
      width: 1060px;
    }
  }
}
