$white: #ffffff;
$background-grey: #f5f6fb;
$background-white: #fefefe;
$icon-grey: #dfe2eb;
$border-white: #fafbfd;
$background-orange: #ff751d;
$bright-orange: #fb7c2f;
$light-orange: rgba(251, 124, 47, 0.2);
$button-text: rgba(82, 85, 95, 0.7);
$text-grey: #52555f;
$black: #000000;
$text-red: #eb5757;
$border-grey: #f6f7fc;
$text-description: #c7ccdc;
$vertical-line: #e0e5eb;
$red: #e7192e;
$icon-black: #1d2e4a;
$green: #407946;
$google-background: #f6f7fb;
$email-text: #a6abb9;
$diagram-light: #ffdac0;
$expenses-black: #071f41;
$expenses-red: #e53935;
$background-balance-white: #f2f5fc;
$modalButtonAccent: #ed6a17;
$gradient-chart: rgba(7, 31, 65, 0.692);

@function transitionFunc($key) {
  @return $key 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
