@import '../../styles/utils/variables';

.controls__container {
  padding: 28px 0 48px 0;

  @media (min-width: 1280px) {
    display: flex;
    align-items: center;
    padding: 33px 0 59px 0;
  }
}

.inputs__container {
  display: flex;
  align-items: center;
}

.inputs__date__thumb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: 1280px) {
    justify-content: start;
    margin-bottom: 0;
  }
}

.buttons__container {
  display: flex;
  justify-content: center;
}

.input__item,
.input__sum {
  padding: 0 21px;
  height: 44px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.02em;

  color: $text-grey;
  border: 2px solid $background-grey;
  border-top-left-radius: 16px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.02em;

    color: $text-description;
  }
}

.input__item {
  @media (min-width: 768px) {
    width: 192px;
  }

  @media (min-width: 1280px) {
    width: 289px;
  }
}

.input__sum {
  width: 126px;
  border-radius: 0 16px 16px 0;

  @media (min-width: 768px) {
    width: 104px;
  }

  @media (min-width: 1280px) {
    margin-right: 27px;
    width: 126px;
  }

  &__thumb {
    position: relative;
  }
}

.button__submit,
.button__reset {
  width: 125px;
  height: 44px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1667;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.button__submit {
  margin-right: 15px;
  background-color: $background-orange;
  color: $white;
}

.button__reset {
  background-color: $white;
  color: $text-grey;
  border: 2px solid $background-grey;
}

.icon__calculator {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  left: 84px;
  transform: translateY(-50%);

  @media (min-width: 768px) {
    left: 64px;
  }

  @media (min-width: 1280px) {
    left: 84px;
  }
}