@import '../../styles/utils/variables';
@import '../../styles/utils/_mixins.scss';

.backdrop {
  @include to(tablet) {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
}

.controls__container {
  padding: 28px 0 48px 0;

  @include to(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 21px 9px 43px 9px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    background-color: $white;
    box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
    border-radius: 30px;
  }

  @include from-to(tablet, desktop) {
    position: relative;
  }

  @include from(desktop) {
    display: flex;
    align-items: center;
    padding: 33px 0 59px 0;
  }
}

.date__container {
  @include from-to(tablet, desktop) {
    position: absolute;
    top: 40px;
    left: 0;
  }
}

.inputs__container {
  @include to(tablet) {
    margin-top: 21px;
  }

  @include from(tablet) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
  }

  @include from(desktop) {
    justify-content: start;
    align-items: center;
    margin: 0 38px 0 0;
  }
}

.form {
  @include from(desktop) {
    display: flex;
  }
}

.inputs__date__thumb {
  justify-content: space-between;
  margin-bottom: 30px;

  @include from(tablet) {
    display: flex;
  }

  @include from(desktop) {
    justify-content: start;
    margin-bottom: 0;
  }
}

.buttons__container {
  display: flex;
  justify-content: center;

  @include to(tablet) {
    margin-top: 83px;
  }
}

.input__item,
.input__sum {
  padding: 0 21px;
  height: 44px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.02em;

  color: $text-grey;
  border: 2px solid $background-grey;
  border-top-left-radius: 16px;

  @include to(tablet) {
    padding-right: 40px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1667;
    letter-spacing: 0.02em;

    color: $text-description;

    @include to(tablet) {
      text-align: right;
      text-align: left;

      font-weight: 700;
    }
  }
}

.input__item {
  @include to(tablet) {
    width: 100%;
    border-top-right-radius: 16px;
  }

  @media (min-width: 768px) {
    width: 192px;
  }

  @media (min-width: 1280px) {
    width: 289px;
  }
}

.input__sum {
  width: 126px;
  border-radius: 0 16px 16px 0;

  @media (min-width: 768px) {
    width: 104px;
  }

  @media (min-width: 1280px) {
    width: 126px;
  }

  @include to(tablet) {
    display: block;

    border-radius: 16px 0 0 16px;

    &::placeholder {
      color: $black;
      text-align: right;
    }
  }

  &__thumb {
    position: relative;

    @include to(tablet) {
      display: flex;
      justify-content: center;

      margin-top: 30px;
    }
  }
}

.button__submit,
.button__reset {
  width: 125px;
  height: 44px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.1667;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  border-radius: 16px;
  border: none;
  cursor: pointer;
}

.button__submit {
  margin-right: 15px;
  background-color: $background-orange;
  color: $white;
}

.button__reset {
  background-color: $white;
  color: $text-grey;
  border: 2px solid $background-grey;

  @include to(tablet) {
    background: #f5f6fb;
    box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
    border-radius: 16px;
  }
}

.icon__calculator {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  left: 84px;
  transform: translateY(-50%);

  @media (min-width: 768px) {
    left: 64px;
  }

  @media (min-width: 1280px) {
    left: 84px;
  }

  @include to(tablet) {
    display: none;
  }
}

.icon__mobile_calculator_container {
  position: relative;
  width: 60px;
  height: 44px;

  border-radius: 0 16px 16px 0;
  border: 2px solid $background-grey;
  border-left: 0;

  &::before {
    content: 'UAH';
    display: block;

    position: absolute;
    top: 27%;
    right: 120%;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: $black;
  }

  @include from(tablet) {
    display: none;
  }
}

.icon__mobile_calculator {
  position: absolute;
  right: 35%;
  top: 25%;
}

.arrow {
  height: 15px;
  font-size: 11px;
  background-color: inherit;
  border: none;

  @include from(tablet) {
    display: none;
  }
}
