@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';

.balanceContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;

  @include to(tablet) {
    flex-direction: column;
    width: 320px;
    padding: 22px 22px 0 22px;
    margin-bottom: 40px;
  }
  @include from-to(tablet, desktop) {
    width: 668px;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  @include from(desktop) {
    width: 1060px;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 30px;
  }
}

.reports {
  display: flex;
  align-items: baseline;
  justify-content: center;

  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: $button-text;
  text-align: center;
  &::after {
    content: '';
    width: 14px;
    height: 14px;

    margin-left: 20px;
    background-repeat: no-repeat;
    background-image: url(../../../images/reports.svg);
  }
}
.form {
  @include to(tablet) {
    margin-top: 30px;
  }

  @include from(tablet) {
    display: flex;
    align-items: center;
  }
}

.label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;

  color: $button-text;

  @include to(tablet) {
    margin-bottom: 12px;
  }
  @include from(tablet) {
    margin-right: 21px;
  }
  @include from(desktop) {
    margin-right: 40px;
  }
}

.inputContainer {
  display: flex;

  @include to(tablet) {
    justify-content: center;
  }
}

.input {
  width: 125px;
  height: 44px;
  padding: 15px 50px 15px 23px;

  background-color: transparent;
  border: 2px solid $white;

  border-radius: 22px 0px 0px 22px;

  text-align: right;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.6;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $black;

  border-radius: 16px;

  @include to(tablet) {
    padding: 15px 80px 15px 23px;
    width: 183px;
  }

  @include from(desktop) {
    margin-right: 15px;
  }
}

.currencyContainer {
  position: relative;
}

.currency {
  position: absolute;
  top: 50%;
  right: 27%;
  transform: translateY(-50%);

  @include from(tablet) {
    right: 17%;
  }

  @include from(desktop) {
    right: 27%;
  }

  font-weight: 700;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  padding: 11px 15px 11px 17px;
  max-width: 125px;
  height: 44px;
  border: 2px solid $white;
  background-color: transparent;

  border-radius: 0px 22px 22px 0px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;

  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $button-text;

  @include to(tablet) {
    border-left: none;
  }

  @include from(tablet) {
    border-radius: 16px;
  }

  &:hover {
    background: $background-orange;
    border-color: $background-orange;
    color: $white;
  }
}
