@import '../../../styles/utils/variables';
@import '../../../styles/utils/_mixins.scss';

.container {
  @include from(tablet) {
    margin: 0 auto;
    padding: 30px 30px 50px 30px;
    width: 665px;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
    background-color: $white;
  }

  @include from(desktop) {
    padding: 33px 20px 60px 20px;
    width: 1060px;
  }
}
