@import '../../styles/main.scss';

.Link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.TextLink {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.34;
  color: $button-text;
  margin-left: 18px;

  &:hover {
    color: $bright-orange;
  }
  @include to(tablet) {
    display: none;
  }
}
.GoHomeIcon {
  transition: transitionFunc(transform);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}
