@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 80px;
  padding-bottom: 80px;
  height: 313px;

  @include from(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.45;

  color: $text-grey;
}
