// @import 'styles/main.scss';
@import '../../../styles/main.scss';

.Link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.GoHomeIcon {
  margin-right: 18px;
}
.TextLink {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.34;
  color: $button-text;
  &:hover {
    color: $bright-orange;
  }
  @include to(tablet) {
    display: none;
  }
}
