@import '../utils/mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;

  margin: 0;
  padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
button {
  padding: 0;
  margin: 0;
}

#root {
  @include to(tablet) {
    min-height: 870px;
  }

  @include from(tablet) {
    min-height: 1000px;
  }

  @include from(desktop) {
    min-height: 900px;
  }
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
